<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Список объектов</title>
        
</head>

<body>
    <h2>Список объектов</h2>
    <h3>(всего объектов: {{ objects|length }})</h3>
    <table>
        <thead>
            <tr>
                <th>ID объекта</th>
                <th>Округ</th>
                <th>Район</th>
                <th>Адрес</th>
                <th>Тип объекта</th>
                <th>Состояние объекта</th>
                <th>Площадь объекта</th>
                <th>Собственник</th>
                <th>Фактический пользователь</th>
                <th>Фото/видео</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
            <tr>
                <td><a href="{% url 'object_details' obj.id %}"> {{ obj.pk }} </a></td>
                <td>{{ obj.division }}</td>
                <td>{{ obj.district }}</td>
                <td>{{ obj.address }}</td>
                <td>{{ obj.obj_type }}</td>
                <td>{{ obj.condition }}</td>
                <td>{{ obj.area }}</td>
                <td>{{ obj.owner }}</td>
                <td>{{ obj.current_holder }}</td>
                <td>{{ obj.media_files }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="nav-link" href="{% url 'object_create' %}">Новая карточка объекта</a>
    <a class="nav-link" href="{% url 'search' %}">Поиск объектов</a>
</body>

</html>