{% extends 'base.html' %}

{% block title %}
Поиск объектов
{% endblock title %}


{% block content %}
    <h1>Поиск объектов</h1>
    <h6>заполните одно или несколько полей для поиска</h6>
    <form method='GET'>
        {{ filter.form }}
        <!-- {% for field in filter.form %}
        <div class="row">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            <div class="error">{{field.errors}}</div>
            {% endif %}
        </div>
        {% endfor %} -->
        <input class="btn btn-primary" type='submit' value='Найти'>
    </form>
    <table class="table table-sm table-striped table-hover ">
    
        <thead>
            <th>ID объекта</th>
            <th>Округ</th>
            <th>Район</th>
            <th>Адрес</th>
            <th>Тип объекта</th>
            <th>Состояние объекта</th>
            <th>Площадь объекта</th>
            <th>Собственник</th>
            <th>Фактический пользователь</th>
            <th>Фото/видео</th>
        </thead>
    
        {% for obj in filter.qs %}
        <tr>
            <td><a href="{{ obj.get_absolute_url }}">{{ obj.pk }}</a></td>
            <td>{{ obj.get_division_display }}</td>
            <td>{{ obj.get_district_display }}</td>
            <td>{{ obj.address }}</td>
            <td>{{ obj.get_obj_type_display }}</td>
            <td>{{ obj.get_condition_display }}</td>
            <td>{{ obj.area }}</td>
            <td>{{ obj.owner }}</td>
            <td>{{ obj.current_holder }}</td>
            <td>{{ obj.media_files }}</td>
        </tr>
        {% endfor %}
    </table>
    <a class="nav-link" href="{% url 'objects_list' %}">все объекты</a>

{% endblock content %}


