<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация об объекте {{ object.pk }}</title>
</head>
<body>
    <h2>Карточка объекта</h2>
    <p>{{ object.pk }}</p>
    <p>{{ object.division }}</p>
    <p>{{ object.district }}</p>
    <p>{{ object.address }}</p>
    <p>{{ object.obj_type }}</p>
    <p>{{ object.condition }}</p>
    <p>{{ object.area }}</p>
    <p>{{ object.owner }}</p>
    <p>{{ object.current_holder }}</p>
    <p>{{ object.media_files }}</p>

    <a href="{% url 'object_update' object.id %}">Редактировать</a>
    <a href="{% url 'object_delete' object.id %}">Удалить</a>
    <div class="">
        <a class="nav-link" href="{% url 'objects_list' %}">все объекты</a>

    </div>
</body>
</html>